In [1]:
#Import The Libriary
import pandas as pd

In [2]:
#Read The Csv
df = pd.read_csv('d.csv')

In [3]:
#Print The File
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [4]:
#Create The Dictionary  
data ={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,32],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

In [5]:
#Convert The Dictioary in to Data Frame 
df1 = pd.DataFrame(data)

In [6]:
#Print The Data Frame
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [8]:
#Ceck The Size Of Data Frame 
df1.shape

(6, 4)

In [9]:
#Ceck The Size Of Data Frame and Store The Variable
row ,column =df1.shape

In [10]:
#Print The Row
row

6

In [11]:
#Print The Column
column

4

In [12]:
#Print The Head of Data
df1.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [13]:
#Silicing The Data 
df1[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [14]:
#Column title Name
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [17]:
#Print Specific Column
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [18]:
#Print Specific Column
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [19]:
#Print Specific Column
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [20]:
#Check The Type Of Specific Column Data Type
type(df['event'])

pandas.core.series.Series

In [22]:
#Use The Specific Mutiplties Columns
df[['day','event','temperature']]

        day  event  temperature
0  1/1/2017   Rain           32
1  1/2/2017  Sunny           35
2  1/3/2017   Snow           28
3  1/4/2017   Snow           24
4  1/5/2017   Rain           32
5  1/6/2017  Sunny           32

In [23]:
#Check Maximum Temperature
df['temperature'].max()

35

In [24]:
#Check Miniimum Temperature
df['temperature'].min()

24

In [25]:
#Check Mean Temperature
df['temperature'].mean()

30.5

In [26]:
#Check Mode Temperature
df['temperature'].mode()

0    32
Name: temperature, dtype: int64

In [27]:
#Check Standord Deviation Temperature
df['temperature'].std()

3.8858718455450894

In [28]:
#Describe The data 
df1.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [29]:
#Apply Logic Operator
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [30]:
#Apply Logic Operator
df[df.temperature ==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [38]:
#Apply Logic Operator
df[['day','temperature']] [df.temperature == df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [40]:
#Print The file
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [41]:
#Check The Indexing
df1.index

RangeIndex(start=0, stop=6, step=1)

In [42]:
#Set  The Index of Specific Column
df1.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           32          2  Sunny

In [43]:
#Set  The Index of Specific Column And Save As Permently
df1.set_index('day',inplace = True)

In [44]:
#Print The file 
df1

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           32          2  Sunny

In [45]:
#ReSet  The Index of Specific Column And Save As Permently
df1.reset_index(inplace = True)

In [46]:
#Print The File
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [47]:
#Set  The Index of Specific Column And Save As Permently
df1.set_index('event',inplace = True)

In [48]:
#Print The Data Frame
df1

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           32          2

In [50]:
#Check The Search The Specific Word 
df1.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

--------------------------------------------------------------------------------------------------------------------------------