In [1]:
#Import The Libriary
import pandas as pd

In [2]:
#Import The File Csv
df =pd.read_csv('d.csv')

In [3]:
#Print The File
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [9]:
#Import The File Excel
df1 = pd.read_excel('d.xlsx','Sheet1')

In [10]:
#Print The File
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           32          2  Sunny

In [11]:
#Install The Libriary
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\sufyan\miniconda3\envs\jupyter_env\lib\site-packages (3.1.1)
Requirement already satisfied: et-xmlfile in c:\users\sufyan\miniconda3\envs\jupyter_env\lib\site-packages (from openpyxl) (1.1.0)

In [7]:
#Create The Dictionary  
data ={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,32],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

In [8]:
#Convert The Dictioary in to Data Frame 
df1 = pd.DataFrame(data)

In [12]:
#Print The File
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           32          2  Sunny

In [14]:
#Create The List  and inner side The Tuple
df1 = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

In [15]:
#List Convert Into The Data Frame
df2 = pd.DataFrame(df1,columns=['day','temperature','windspeed','event'])

In [16]:
#Print The Data 
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [17]:
#Create The List  and Inner Side Set
df1 = [
    {'day':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temperature':28,'windspeed':2,'event':'Snow'}
]

In [20]:
#List Convert Into The Data Frame
df3 =pd.DataFrame(df1)

In [22]:
#Print The Data Frame
df3

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

--------------------------------------------------------------------------------------------------------------------------------